:root {
    --white: #fff;
    /* for dark mode */
    --darkModeDisplayNone: none;
    --darkModeDisplayBlock: block;
    --heading-color: #212A3E;
    --list-child-color: #f6f9fa;
    --dark-blue: #394867;
    --light-blue: #9DB2BF;
    --light-gray: #394867;
    --dark-gray: #F1F6F9;
    /* form color  */
    --white-to-darkColor: #fff;
}

*:focus {
    outline: 1.5px #9BA4B5 solid;
    border-radius: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    color: #222;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    background: var(--white);
}

body::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border: 1.5px white solid;
    border-radius: 10px;
    background: #394867;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style: none;
}


h2 {
    font-size: 36px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: 18px;
    line-height: 21px;
}

section {
    padding: 60px 0;
}

button {
    font-family: 'Outfit', sans-serif;
    border: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 11px;
    font-family: 'Outfit', sans-serif;
    color: #9BA4B5;
}

input,
textarea {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    padding: 6px;
    border: none;
    border-bottom: 1.5px solid #9DB2BF;
    background: transparent;
    color: var(--dark-blue);
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1.5px solid var(--dark-blue);
    border-radius: 0;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: var(--dark-blue);
}

a {
    text-decoration: none;
}

/* dark mode  */
.dark-mode {
    /* for dark mode */
    --darkModeDisplayNone: block;
    --darkModeDisplayBlock: none;
    --heading-color: #F1F6F9;
    --list-child-color: #263148;
    --dark-blue: #F1F6F9;
    --light-blue: #9DB2BF;
    --light-gray: #F1F6F9;
    --dark-gray: #394867;
    /* form color  */
    --white-to-darkColor: #212A3E;
}

/* header  */

.header {
    padding: 14px 0;
    margin-bottom: 50px;
    background: var(--list-child-color);
}

.header-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-mode-btn-wrapper {
    position: relative;
}

.website-codes-link,
.dark-mode-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--dark-gray);
    color: var(--light-gray);
    font-size: 14px;
    padding: 6px 10px;
    transition: background-color 0.4s ease, color 0.4s ease, opacity 0.2s ease;
    border: 1.5px solid var(--dark-blue);
}

.website-codes-link:hover,
.dark-mode-btn:hover {
    background: var(--light-gray);
    color: var(--dark-gray);
}

.website-codes-link:focus,
.dark-mode-btn:focus {
    outline-offset: 1.5px;
}

.website-codes-link:active,
.dark-mode-btn:active {
    opacity: 0.7;
}

.website-codes-link svg {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.logo-link {
    font-size: 28px;
    font-weight: 600;
    color: var(--heading-color);
}

.dark-mode-btn {
    min-width: 112px;
}

.moon-icon,
.sun-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.moon-icon,
.dark-mode-text {
    display: var(--darkModeDisplayBlock);
}

.sun-icon,
.light-mode-text {
    display: var(--darkModeDisplayNone);
}

/* dark filter  */

.dark-filter {
    display: block;
    position: fixed;
    z-index: -1;
    width: 0px;
    height: 0px;
    top: 0px;
    left: calc(50% - 0px);
    background: #212A3E;
    transition: width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, bottom 0.2s ease;
}

.dark-filter-run {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
}

/* main  */

.main-parent {
    display: flex;
    align-items: start;
    position: relative;
}

.form-parent {
    position: sticky;
    top: 20px;
    max-width: 400px;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 4;
}


.form-title,
.list-title {
    font-size: 24px;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.list-title {
    text-align: center;
}


.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    border-radius: 8px;
    margin-right: 20px;
    border: 1.5px solid var(--light-blue);
}

.profile-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/profile-img.jpg) #9DB2BF no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 7px 7px 0 0;
    padding: 20px;
    height: 180px;
}

.contact-profile {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 0.5px #333 solid;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.contact-profile:hover .profile-img {
    transform: scale(1.1);
}

.file-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -25px;
    right: 20px;
    border-radius: 100%;
    background: var(--list-child-color);
    box-shadow: 0 1px 1px 0px #33333357;
    border: 1.5px solid var(--dark-blue);
}

.camera-icon {
    color: var(--dark-blue);
}

.file-input {
    display: none;
}

.contact-form-inputs-wrapper {
    display: grid;
    gap: 10px;
    padding: 20px;
    border-top: 1.5px solid var(--light-blue);
}

.phone-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.additional-information {
    resize: none;
    height: 60px;
}

.additional-information::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.additional-information::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #394867;
}
.add-contact-btn,.cancel-btn,.confirm-btn {
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    background: #394867;
    border: 1.5px solid #394867;
    color: #fff;
    transition: opacity 0.4s ease;
}

.add-contact-btn:active,.cancel-btn:active,.confirm-btn:active {
    opacity: 0.7;
}
.form-buttons-wrapper{
    display:grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.cancel-btn{
    background: transparent;
    color: var(--heading-color);
}

/* list  */
.list-parent {
    width: 100%;
    transition: all 0.4s ease;
}

.list-dark-filter {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(0px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: filter 0.4s ease;
}

.contact-list {
    width: 100%;
    border-radius: 6px;
}

.contact-list-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.contact-list-child:nth-child(even) {
    background: var(--list-child-color);
}

.contact-list-child:not(:last-child) {
    border-bottom: 1.5px solid #9BA4B5;
}

.list-child-profile-wrapper {
    display: flex;
    align-items: center;
}

.list-child-profile-wrapper img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #9DB2BF;
    margin-right: 6px;
}


.list-child-title {
    color: var(--heading-color);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.phone-number {
    font-size: 15px;
    color: var(--dark-blue);
}

.edit-btn-wrapper div {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 3px;
}

.edit-btn,
.delete-btn,
.contact-info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    background: transparent;
    border: 0.5px solid var(--dark-blue);
}

.edit-btn:focus,
.delete-btn:focus,
.contact-info-btn:focus {
    outline: 1px solid var(--dark-blue);
}

.delete-btn {
    border-color: #ff7c7c;
}

.delete-btn:focus {
    outline-color: #ff7c7c;
}

.edit-icon,
.info-icon {
    color: var(--dark-blue);
}

.contact-info-btn span {
    color: var(--dark-blue);
    font-size: 12px;
}


.delete-btn {
    margin-left: 3px;
}

.contact-info-btn {
    width: 100%;
    padding: 0 4px;
    color: #394867;
}

.info-icon {
    width: 16px;
    height: 16px;
    margin-left: 3px;
}

.contact-adder-btn {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    background: #fff;
    width: 54px;
    height: 54px;
    box-shadow: 0.5px 1px 3px 0px #444444a0;
    z-index: 3;
}

.hidden {
    display: none;
}

@media only screen and (max-width:900px) {
    .logo-link {
        font-size: 26px;
    }

    .form-title,
    .list-title {
        font-size: 22px;
    }

    .form-parent {
        max-width: 350px;
    }

    .contact-form {
        max-width: 330px;
    }

    .profile-parent {
        height: 160px;
    }

    .list-child-profile-wrapper img {
        width: 60px;
        height: 60px;
    }

    .contact-list-child {
        padding: 14px;
    }
}

@media only screen and (max-width:780px) {
    html {
        height: 100%;
    }

    .header {
        margin: 0;
    }

    .main {
        width: 100vw;
        height: 100vh;
    }

    .main-parent {
        align-items: start;
        height: 100vh;
        overflow-x: hidden;
    }

    .form-parent,
    .list-parent {
        padding-top: 40px;
        width: 100%;
    }

    .form-parent {
        position: absolute;
        max-width: 100%;
        top: 0;
        padding: 40px 20px 0;
        z-index: 2;
        background: var(--white-to-darkColor);
        height: 100vh;
    }

    .list-parent {
        position: relative;
        right: 0;
        left: 0;
    }

    .form-parent-run {
        transform: translateX(-120%);
    }

    .list-parent-run {
        transform: translateX(40px);
    }

    .hidden-and-dark {
        display: block;
        filter: blur(4px);
    }

    .form-title {
        text-align: center;
    }

    .contact-form {
        max-width: 500px;
        margin: 0 auto;
    }

    .profile-parent {
        height: 200px;
    }

    .padding-0 {
        padding: 0;
    }

    .contact-adder-btn {
        display: flex;
    }
}

@media only screen and (max-width:530px) {
    *:focus {
        outline: none;
        color: auto;
        border-width: auto;
    }

    .dark-mode-btn,
    .website-codes-link {
        min-width: auto;
        width: 40px !important;
        height: 40px;
    }

    .website-codes-link svg,
    .sun-icon,
    .moon-icon {
        margin: 0;
    }

    .dark-mode-text,
    .light-mode-text,
    .website-codes-link span {
        display: none;
    }

    .contact-form {
        max-width: 100%;
        margin: 0 auto;
    }

    .list-child-profile-wrapper img {
        width: 56px;
        height: 56px;
    }

    .list-child-title {
        font-size: 15px;
        line-height: 18px;
    }

    .phone-number {
        font-size: 12px;
        line-height: 16px;
    }
}

@media only screen and (max-width:420px) {
    .logo-link {
        font-size: 24px;
    }

    .form-title,
    .list-title {
        font-size: 19px;
    }

    .profile-parent {
        height: 170px;
    }

    .contact-adder-btn {
        right: 20px;
        bottom: 20px;
    }

    .edit-btn,
    .delete-btn,
    .contact-info-btn {
        width: 24px;
        height: 24px;
    }

    .contact-info-btn {
        width: 100%;
    }

    .contact-info-btn span {
        font-size: 10px;
    }

    .contact-info-btn svg {
        width: 14px;
        height: 14px;
    }

    .edit-icon,
    .delete-btn img {
        width: 18px;
        height: 18px;
    }
}

@media only screen and (max-width:325px) {
    .logo-link {
        font-size: 22px;
    }

    .form-title,
    .list-title {
        font-size: 18px;
    }

    .profile-parent {
        height: 150px;
    }
}